#Hero {

    background-image: url("https://images.pexels.com/photos/1571460/pexels-photo-1571460.jpeg?cs=srgb&dl=interior-design-of-a-house-1571460.jpg&fm=jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: auto;
    height: 100vh;
    z-index: 1;

}

.text{

    display: inline-block;
    padding: 2rem;
    color: white;
    margin-top: 1rem;
    border-radius: 0rem 0rem 10rem 10rem;
    font-size: larger;

}

.logo{
    font-size: 30px;
    color: white;
}

.card{
    border-radius: 5px !important;
    background-color: rgba(199, 0, 0, 0.592) !important;
    color: white !important;
}

.button{
    color: white;
    margin: 5rem;
    padding: 1rem;
    width: 10rem;
    background-color: #c00b0bc4;
    border-radius: 5px;
}

@media(max-width: 728px){
    .text p{
        font-size: smaller;
    }
    .row{
        gap: 2rem;
    }
    #Hero{
        height: 100vh;
    }
    #carouselExampleIndicators{
        width: 100% !important;
    }
}

@media (max-width: 303px){
    .card{
        width: 15rem !important;
    }
}

@media (max-width: 385px){
    .logo{
        font-size: 20px;
    }
}

@media (max-width: 320px){
    .logo i{
        margin-left: -2.2rem;
    }
}

.about-us {
    color: white;
    margin-top: 2rem;
}

.about-us h1{
    display: inline;
    padding: 0.5rem;
    background-color: #c00b0b8b;
    border-radius: 8px;
}