#Hero {

    background-image: url("interior-design-of-a-house-1571460.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    z-index: 1;
    overflow: auto;

}

.text{
    animation-name: text;
    animation-duration: 1.5s;
    display: inline-block;
    padding: 2rem;
    color: white;
    margin-top: 1rem;
    border-radius: 0rem 0rem 10rem 10rem;
    font-size: larger;

}

.logo{

    font-size: 30px;
    color: white;

}

.card{
    animation-name: cards;
    animation-duration: 1.5s;
    border-radius: 5px !important;
    background-color: rgba(199, 0, 0, 0.592) !important;
    color: white;

}

.button{
    color: white;
    margin: 5rem;
    padding: 1rem;
    width: 10rem;
    background-color: #c00b0bc4;
    border-radius: 5px;
    font-size: larger;
}
.button i{
    animation-duration: 2s;
}

@media(max-width: 728px){
    .card{
        animation-name: cardsPhone;
        animation-duration: 1.5s;
    }
    .text{
        animation-name: textPhone;
        animation-duration: 1.5s;
    }
    .text p{
        font-size: smaller;
    }
    .row{
        gap: 2rem;
    }
    #Hero{
        height: 100vh;
    }
    #carouselExampleIndicators{
        width: 100% !important;
    }
    #Hero {
        background: linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30)), url("interior-design-of-a-house-1571460.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        height: 100vh;
        z-index: 1;
        overflow: auto;
    
    }
}

@media (max-width: 303px){
    .card{
        width: 15rem !important;
    }
}
@media (max-width: 385px){
    .logo{
        font-size: 1.55rem;
    }
  }
  
@media (max-width: 320px){
    .logo i{
        margin-left: -2.2rem;
    }
  }

@media (max-width: 290px){
    .logo{
        font-size: 1.2rem;
    }
}

.about-us {
    color: white;
    margin-top: 2rem;
}

.about-us h1{
    display: inline;
    padding: 0.5rem;
    background-color: #c00b0b8b;
    border-radius: 5px;
}
