#Services{
    background-image: url("interior-design-of-a-house-1571460.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    z-index: 1;
    padding-bottom: 1rem;
    max-height: 100%;
}
#Services h3{
    margin-top: 2rem;
    display: inline-block;
    padding: 0.5rem;
    background-color: #c00b0b;
    border-radius: 5px;
    color: white;
}

th, td {
    border: solid white;
  }
  
.exp{
    background-color: #c00b0bd6;
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 5px;
}
.list-unstyled li a:hover{
    color: red !important;
}

@media(max-width: 728px){
    #Services {
    background: linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30)), url("interior-design-of-a-house-1571460.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    z-index: 1;
    }

    .half{
        background-color: rgba(249, 249, 249, 0) !important;
    }
}
